DirectoryIndex index.php
RewriteEngine On

# EXCLUIR el worker por path
RewriteRule ^worker/ - [L]

# Normaliza directorios con slash final
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ %{REQUEST_URI}/ [R=301,L]

# Evita loops index.php
RewriteRule ^index\.php$ - [L]

# Sirve archivos/carpetas reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Front controller
RewriteRule ^ index.php [QSA,L]
